* {
    margin: 0;
}
/* ########################################################### */
    /* NAVBAR */
.navbar {
    width: 100%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.527);
    font-size: 1.3vw;
    position: sticky;
    top: 0;
}
.navbar-nav {
    width: 100%;
}
/* ########################################################### */
    /* HEADER  */
.header {
    background-image: url(/monprojetportfolio/data-center-server.png);
    background-size: cover;
    padding-bottom: 28%;
    background-repeat: no-repeat;
    width: 100%;
}
.titre-h1 {
    text-align: center;
    padding-top: 7%;
}
/* ########################################################### */
    /* PRESENTATION */
.presentation {
    background-image: url(/monprojetportfolio/fond-blanc-presentation.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 10%;
}
.titre-presentation {
    text-align: center;
    padding-top: 7%;
}
.ma-photo-profil {
    display: flex;
    justify-content: center;
}
.ma-presentation {
    text-align: center;
    padding-top: 3%;
}
/* ########################################################### */
    /* PROJETS */
.projets {
    display: flex;
    justify-content: center;
    gap: 25%;
    padding-top: 7%;
    padding-bottom: 10%;
}
.titre-projet {
    text-align: center;
    padding-top: 7%;
}
/* ########################################################### */
    /* SKILLS */
.skill {
    background-image: url(/monprojetportfolio/soft-skillss.png);
    padding-top: 7%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}
.titre-skill {
    text-align: center;
}
/* ########################################################### */
    /* CONTACT  */
.contact {
    background-image: url(/monprojetportfolio/fond-contact.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15%;

}
.titre-contact {
    text-align: center;
    padding-top: 7%;
}
.formulaire {
    width: 30%;
}
/* ########################################################### */
    /* MEDIA */
 @media screen and (max-width:1000px) {

    
 }